target
.env
.project
Procfile*
!Procfile.dev

webroot/WEB-INF/*
!webroot/WEB-INF/*.xml
!webroot/WEB-INF/lib/
!webroot/WEB-INF/lucee/

webroot/WEB-INF/lib/*
!webroot/WEB-INF/lib/lucee-server/

webroot/WEB-INF/lib/lucee-server/*
!webroot/WEB-INF/lib/lucee-server/context/

webroot/WEB-INF/lib/lucee-server/context/*
!webroot/WEB-INF/lib/lucee-server/context/lucee-server.xml

webroot/WEB-INF/lucee/*
!webroot/WEB-INF/lucee/lucee-web.xml.cfm
