target
.env
.project
Procfile*

webroot/WEB-INF/*
!webroot/WEB-INF/*.xml
!webroot/WEB-INF/lib/
!webroot/WEB-INF/railo/

webroot/WEB-INF/lib/*
!webroot/WEB-INF/lib/railo-server/

webroot/WEB-INF/lib/railo-server/*
!webroot/WEB-INF/lib/railo-server/context/

webroot/WEB-INF/lib/railo-server/context/*
!webroot/WEB-INF/lib/railo-server/context/railo-server.xml

webroot/WEB-INF/railo/*
!webroot/WEB-INF/railo/railo-web.xml.cfm
